<main>
    <div class="container small-container">
        <div class="row mt-5">
            <div class="col">
                <p class="lead text-center">Welcome! Click image to proceed.</p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <!-- <ng-lottie 
                    [options]="options"
                    (loopComplete)="nextPage()"
                    [routerLink]="['/search-list']">
                </ng-lottie> -->
                <img 
                    src="https://media.giphy.com/media/fTn01fiFdTd5pL60ln/giphy.gif" 
                    alt="Click here to proceed"
                    [routerLink]="['/search-list']">
            </div>
        </div>
    </div>
</main>